/*スライドアニメーションの設定*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes image-switch-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*写真の交換の秒数*/
.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 5s;
}
.image:nth-of-type(3) {
  animation-delay: 10s;
}
.image:nth-of-type(4) {
  animation-delay: 15s;
}
.image:nth-of-type(5) {
  animation-delay: 20s;
}
.image {
  width: 100vw;
  position: absolute;
  top: 0;
  opacity: 0;
  animation: image-switch-animation 25s infinite;
  filter: brightness(60%);
}

@media screen and (min-width: 961px) {
  .imograph {
    margin-top: 30px;
    height: 300px;
  }
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .white_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 75px;
    z-index: 100;
    font-weight: 1000;
    width: 80vw;
    text-align: center;
    margin: auto;
    opacity: 70%;
  }
}
@media screen and (max-width: 640px) {
  /* ここはスマホ用のCSS */
  .container {
    position: relative;
    width: 100vw;
    height: 40vh;
  }
  .white_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 30px;
    z-index: 100;
    font-weight: 1000;
    width: 80vw;
    text-align: center;
    margin: auto;
    opacity: 70%;
  }

  .imograph {
    margin-top: 30px;
    width: 70vw;
  }
}
@media screen and (max-width: 960px) and (min-width: 641px) {
  /* ここはタブレット用のCSS */
  .imograph {
    margin-top: 30px;
    height: 300px;
  }
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .white_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 50px;
    z-index: 100;
    font-weight: 1000;
    width: 80vw;
    text-align: center;
    margin: auto;
    opacity: 70%;
  }
}
