/*スライドアニメーションの設定*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes image-switch-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*写真の交換の秒数*/
.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 5s;
}
.image:nth-of-type(3) {
  animation-delay: 10s;
}
.image:nth-of-type(4) {
  animation-delay: 15s;
}
.image:nth-of-type(5) {
  animation-delay: 20s;
}
.image {
  width: 100vw;
  position: absolute;
  top: 0;
  opacity: 0;
  animation: image-switch-animation 25s infinite;
  filter: brightness(60%);
}

@media screen and (min-width: 961px) {
  .imograph {
    margin-top: 30px;
    height: 300px;
  }
  .container {
    position: relative;
    width: 100vw;
    height: 150vh;
  }
  .white_title {
    font-size: 35px;
    z-index: 100;
    font-weight: 1000;
    width: 80vw;
    text-align: center;
    margin: auto;
  }
  .logo2_wrapper {
    width: 100vw;
    height: 70vh;
  }
}
@media screen and (max-width: 640px) {
  /* ここはスマホ用のCSS */
  .container.special {
    position: relative;
    width: 100vw;
    height: 90vh;
  }
  .white_title {
    font-size: 18px;
    z-index: 100;
    font-weight: 1000;
    width: 80vw;
    text-align: center;
    margin: auto;
  }

  .imograph {
    margin-top: 30px;
    width: 70vw;
  }
  .logo2_wrapper {
    width: 100vw;
    height: 35vh;
  }
}
@media screen and (max-width: 960px) and (min-width: 641px) {
  /* ここはタブレット用のCSS */
  .imograph {
    margin-top: 30px;
    height: 300px;
  }
  .container.special {
    position: relative;
    width: 100vw;
    height: 150vh;
  }
  .white_title {
    font-size: 30px;
    z-index: 100;
    font-weight: 1000;
    width: 80vw;
    text-align: center;
    margin: auto;
  }
  .logo2_wrapper {
    width: 100vw;
    height: 70vh;
  }
}
.logo2 {
  width: 20vw;
  margin: 20vh 40vw 5vh 40vw;
  animation: 1s both appear;
}
.white_title {
  animation: 1s both appear;
  animation-delay: 0.8s;
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.photo_wrapper {
  position: relative;
  width: 100vw;
  height: 80vh;
  max-height: 600px;
  overflow: hidden;
  margin-top: 10vh;
}
