body {
  background-color: blanchedalmond;
  z-index: -1;
  margin: 0;
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro",
    "Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif;
}
section {
  width: 60vw;
  height: 100px;
  margin-right: 10vw;
  margin-left: auto;
}
@media screen and (min-width: 721px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}
header-component {
  z-index: 3;
  width: 100%;
}
.upper-space {
  height: 20vh;
}
h1 {
  color: #ad1a45;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  margin-top: 40px;
  margin-bottom: 0px;
}
h2 {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 1.5px;
  width: fit-content;
  margin: auto;
  border-bottom: 3px solid #ad1a45;
}
p {
  font-size: 1rem;
  line-height: 1.8;
  display: flex;
  justify-content: center;
}
.wrapper {
  margin: 50px 0;
}
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}
