body {
  background-color: blanchedalmond;
  z-index: -1;
  margin: 0;
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro",
    "Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif;
}
header-component {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.upper-space {
  height: 20vh;
}
h1 {
  color: #ad1a45;
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  margin-top: 40px;
  margin-bottom: 0px;
}
h2 {
  color: #828282;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
section {
  width: 80vw;
  margin: auto;
  margin-top: 100px;
}
p {
  line-height: 1.8;
}
