body {
  background-color: blanchedalmond;
  z-index: -1;
  margin: 0;
  font-family: "Hiragino maru Gothic ProN W4", "Hiragino Kaku Gothic Pro",
    "Hiragino Sans", "arial", "Meiryo", "MS PGothic", sans-serif;
}
header-component {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.upper-space {
  height: 20vh;
}
h1 {
  margin: 2rem auto;
  width: fit-content;
  padding: 0.2rem 0.7rem 0.2rem 2rem;
  border-bottom: 0.2rem solid #489d51;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("@/assets/global/imoh1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    left: -20px;
    top: -5px;
  }
}
section {
  width: 80vw;
  margin: auto;
}
p {
  line-height: 1.8;
}
